:root {
  --buttonpadding: 0.6rem 1.2rem;
  --buttonborderradius: 0.5rem;
  --backbuttonpadding: 0.7rem 1rem;
}

a {
  text-decoration: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  padding: var(--buttonpadding);
  border-radius: var(--buttonborderradius);
}

.button:active {
  transform: translateY(0.2rem);
}

a#backbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  display: flex;


  font-size: 24px;
  font-weight: 900;

  padding: 0.74rem 0.9rem;
}

button.contactbutton {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contactitem div button img {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}

/* .contactlinksvg {
  width: 1rem;
  height: 1rem;
} */

.contactsvg {
  width: 1.15rem;
  height: 1.15rem;
}

.backbuttonspacer {
  position: fixed;
  top: 5.84rem;
  right: 50%;
  height: 3rem;
  text-align: center;
}

#backbutton {
  position: relative;
  right: 26rem;
}

/** Change button to the right side */
@media screen and (min-width: 1080px) and (max-width: 1400px) {
  #backbutton {
    left: 24rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1080px) {
  .backbuttonspacer {
    position: fixed;
    top: 3rem;
    right: 1rem;
    text-align: center;
    width: 1rem;
    /* background-color: red; for debugging  */
  }

  #backbutton {
    position: relative;
    top: 0px;
    right: 3rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .backbuttonspacer {
    position: fixed;
    top: 3rem;
    left: 1rem;
    text-align: center;
    width: 1rem;
    /* background-color: red; for debugging */
  }

  #backbutton {
    position: relative;
    left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .backbuttonspacer {
    position: fixed;
    top: 2rem;
    left: 1rem;
    text-align: center;
    width: 1rem;
  }

  #backbutton {
    position: relative;
    left: 0rem;
  }
}