:root {
  --buttonpadding: 0.6rem 1.2rem;
  --buttonborderradius: 0.5rem;
  --backbuttonpadding: 0.7rem 1rem;
}

a {
  text-decoration: none;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  padding: var(--buttonpadding);
  border-radius: var(--buttonborderradius);
}

.button:active {
  transform: translateY(0.2rem);
}

a#backbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  font-size: 24px;
  font-weight: 900;

  padding: var(--backbuttonpadding);
  border-radius: var(--buttonborderradius);
}

.contactitem div {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.contactitem div button {
  display: flex;
  margin: 0;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.contactitem div button:hover {
  cursor: pointer;
}

.contactlinksvg {
  width: 1rem;
}

.contactsvg {
  width: 1.15rem;
  height: 1.15rem;
}

.backbuttonspacer {
  position: fixed;
  top: 6rem;
  right: 50%;
  text-align: center;
}

#backbutton {
  position: relative;
  right: 25rem;
}

/** Change button to the right side */
@media screen and (min-width: 1080px) and (max-width: 1400px) {
  #backbutton {
    left: 24rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1080px) {
  .backbuttonspacer {
    position: fixed;
    top: 3rem;
    right: 1rem;
    text-align: center;
    width: 1rem;
    /* background-color: red; for debugging  */
    /*line-height: 100px;*/
  }

  #backbutton {
    position: relative;
    top: 0px;
    right: 3rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
  .backbuttonspacer {
    position: fixed;
    top: 3rem;
    left: 1rem;
    text-align: center;
    width: 1rem;
    /* background-color: red; for debugging */
    /*line-height: 100px;*/
  }

  #backbutton {
    position: relative;
    left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .backbuttonspacer {
    position: fixed;
    top: 3rem;
    left: 1rem;
    text-align: center;
    width: 1rem;
  }

  #backbutton {
    position: relative;
    left: 0rem;
  }
}
