:root {
  --firbackcolor: rgb(252, 252, 252);
  --secbackcolor: rgba(0, 0, 0, 0.035);
  --highlight: white;
  --buttoncolor: #aa95b6;
  --buttonhover: #9682a1;
  --projectinfo: rgba(0, 0, 0, 0.52);
  --client: #00000010;
  --roles: #00000010;
  --contacttext: rgb(0, 0, 0);
}

html {
  background-color: var(--firbackcolor);
}

a {
  color: inherit;
}

.processimage {
  background-color: var(--secbackcolor);
}

.projectswrap,
.contentwrapdark {
  background-color: var(--secbackcolor);
}

.projects li {
  background-color: var(--firbackcolor);
}

.imgshadow {
  box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.1);
}

.projects li {
  box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 5px 5px 4730 -5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.08);
}

a.button {
  color: var(--highlight);

  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#799389", endColorstr="#5E435D", GradientType=1);

  transition: 0.4s ease-in-out;
}

a.button:hover {
  filter: hue-rotate(-10deg) brightness(1.2);
  background-size: 250%;
}

a#backbutton {
  color: #ffffff;

  border-radius: 4rem;

  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eeeeee13;

  font-size: 1.24rem;
}

a#backbutton:hover {
  filter: hue-rotate(-8deg) brightness(1.2);
  background-size: 250%;
}

.feedback {
  color: var(--highlight);
  background-image: linear-gradient(
    to right,
    #2b5876b2 0%,
    #4e4376ad 51%,
    #2b5876a1 100%
  );
  background-size: 200% auto;
}

.contactitem {
  background-color: var(--roles);
  cursor: pointer;
  color: var(--contacttext);
}

.contactitem button {
  /*   transition: 0.2s; */
  background-color: rgba(255, 255, 255, 0);
}

.projectinfo {
  color: var(--projectinfo);
}

.client p {
  background-color: var(--client);
}

.roles p {
  background-color: var(--roles);
}

.client a p:hover {
  transition: 0.4s;
}

.client a p:hover {
  background-color: #0000000a;
  transition: 0.4s;
}

.snippet {
  background-color: var(--client);
  border-left: 0.2rem solid var(--buttoncolor);
}
