:root {
  --firbackcolor: rgb(255, 255, 255);
  --secbackcolor: rgba(0, 0, 0, 0.05);
  --highlight: white;
  --buttoncolor: #aa95b6;
  --buttonhover: #9682a1;
  --projectinfo: rgba(0, 0, 0, 0.7);
  --client: rgb(220, 220, 235);
  --roles: rgb(231, 233, 219);
}

html {
  background-color: var(--firbackcolor);
}

a {
  color: inherit;
}

.image,
.processimage {
  background-color: var(--secbackcolor);
}

.projectswrap,
.contentwrapdark {
  background-color: var(--secbackcolor);
}

.projects li {
  background-color: var(--firbackcolor);
}

.imgshadow {
  box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.3);
}

.projects li {
  box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 5px 5px 4730 -5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 00.08);
}

a.button,
a#backbutton {
  color: var(--highlight);

  background: hsla(157, 11%, 53%, 1);

  background: linear-gradient(
    45deg,
    hsla(157, 11%, 53%, 1) 0%,
    hsla(302, 17%, 32%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(157, 11%, 53%, 1) 0%,
    hsla(302, 17%, 32%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(157, 11%, 53%, 1) 0%,
    hsla(302, 17%, 32%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#799389", endColorstr="#5E435D", GradientType=1 );

  transition: 0.4s ease-in-out;
}

a.button:hover,
a#backbutton:hover {
  filter: hue-rotate(-20deg) brightness(1.2);
  background-size: 120%;
}

.contactitem {
  background-color: antiquewhite;
}

.contactitem div button {
  transition: 0.2s;
}

.contactbutton object svg {
  color: var(--highlight);
}

/* a#backbutton {
  color: var(--highlight);
  background-color: var(--buttoncolor);
  transition: 0.2s;
}

a#backbutton:hover {
  background-color: var(--buttonhover);
  transition: 0.2s;
} */

.projectinfo {
  color: var(--projectinfo);
}

.client p {
  background-color: var(--client);
}

.roles p {
  background-color: var(--roles);
}
