:root {
  --firbackcolor: rgb(243, 243, 245);
  --secbackcolor: rgba(0, 0, 0, 0.05);
  --buttoncolor: #e2e2e2;
  --buttonhover: #ebebeb;
  --projectinfo: rgba(0, 0, 0, 0.7);
  --client: rgb(220, 220, 235);
  --roles: rgb(231, 233, 219);
}

html {
  background-color: var(--firbackcolor);
}

.image,
.processimage {
  background-color: var(--secbackcolor);
}

.projectswrap,
.contentwrapdark {
  background-color: var(--secbackcolor);
}

.projects li {
  background-color: var(--firbackcolor);
}

.imgshadow {
  box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 47px -5px rgba(0, 0, 0, 0.3);
}

.projects li {
  box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 4730 -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
}

a.button,
.contactitem div button {
  color: initial;
  background-color: var(--buttoncolor);
  transition: 0.2s;
}

a.button:hover,
.contactitem div button:hover {
  background-color: var(--buttonhover);
  transition: 0.2s;
}

a#backbutton {
  color: initial;
  background-color: var(--buttoncolor);
  transition: 0.2s;
}

a#backbutton:hover {
  background-color: var(--buttonhover);
  transition: 0.2s;
}

a.contactitem {
  color: inherit;
}

.projectinfo {
  color: var(--projectinfo);
}

.client p {
  background-color: var(--client);
}

.roles p {
  background-color: var(--roles);
}
