body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  /* font-family: "Mulish", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  font-size: 16pt;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

h1 {
  font-weight: 800;
}

h3 {
  font-size: 1.6rem;
}

.textcontent h3 {
  font-size: 1.3rem;
}

p {
  line-height: 1.4;
}

.greeting {
  display: flex;
}

.greeting2 p {
  line-height: 1.34;
}

.greeting h2 {
  font-size: 1.6rem;
  font-variation-settings: "wght" 700;
}

.hellocontainer p {
  font-size: 1.2rem;
  font-variation-settings: "wght" 700;
}

/* .hellotext span {
  font-variation-settings: "wght" 450;
  font-variation-settings: "wght" 650;
} */

.client p,
.roles p {
  line-height: initial;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 1.4rem;
  }
}

a.button {
  font-size: 1rem;
  font-variation-settings: "wght" 650;
}

.contactwrapper p {
  font-size: 1rem;
  margin: 0;
}

.contactitem,
.contactitem p {
  font-size: 0.84rem;
  font-variation-settings: "wght" 550;
}

.projectinfo {
  gap: 0.4rem;
}

h3.projectname {
  margin: 0;
  line-height: 1.2;
}

.projectinfo p {
  background-color: var(--secbackcolor);
  font-size: 0.8rem;
  font-variation-settings: "wght" 450;
}

.projectname {
  margin-bottom: 0.7rem;
  font-weight: 800;
}

.bold {
  font-weight: 600;
}

.projectdescription li {
  margin: 2rem 0 1rem 0;
}

.textcontent ol,
.textcontent ul {
  /* onko tämä hyvä? */
  margin: 0;
  margin-bottom: 1rem;
}

.textcontent li {
  margin: 1rem 0 1rem 0;
}

#turbiiniuserbase {
  margin: 0.15rem;
}

#turbiiniuserbase li {
  margin: 0.15rem;
}
